.list-container {
  width: 600px;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-left: 2px solid rgb(192, 146, 78);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.grid {
  width: 90%;
  height: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow-x: auto;
}

.post-box {
  width: 150px;
  height: 150px;
  margin-left: 15px;
  border-radius: 20px;
  background-color: rgb(192, 146, 78);
}

.post-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
