.form-input {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title {
  font-size: large;
  font-weight: bold;
}

.title-input,
.content-input {
  display: flex;
  flex-direction: column;
}

input {
  height: 30px;
}

.title-input label,
.content-input label {
  margin-bottom: 5px;
}

button {
  padding: 15px;
  border-radius: 15px;
  border: none;
  background-color: rgb(192, 146, 78);
  color: white;
  font-weight: bold;
  cursor: pointer;
}
